//Styles and Colors for HTML 
.vbk{
    color: darkorange;
   
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: rgb(100, 78, 16); 
}
.storebg{
    background-image: url('../../assets/imgs/background.jpg');
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

.toolbar-background {

    background-color: rgb(0, 0, 0);
    
    
  }

  .divitem{
      background-image: url('../../assets/imgs/background.jpg');
      color: aliceblue;
  }
  