//Styles and Colors for HTML
.sBG{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    background-image: url('../../assets/imgs/background.jpg');
    }
    
    .h2{
        background-blend-mode: lighten;
       
    }

    .h3{
        word-wrap: break-word;
        width:200px;
        font-size: 2px;

    }
