.challengeBG{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: aliceblue;
background-image: url('../../assets/imgs/background.jpg');
}
.divitem{
    background-image: url('../../assets/imgs/background.jpg');
    color: aliceblue;
}